
// Icon Style
// ------------------------------

gp-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: currentColor;


  // Icon Libraries
  // ------------------------------
  &.material-icons,
  &.ionicon,
  &.fa {
    font-weight: normal;
    font-style: normal;
    font-size: 1.33333333em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    vertical-align: -7.5%;
    display: inline-block;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}