gp-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 150;
  md-toolbar.toolbar-main {
    background-color: transparent;
    .brand-stripes {
      cursor: pointer;
    }
    .brand-text {
      cursor: pointer;
    }
    .md-button.md-icon-button {
      &.toggle-button {
        //margin-left: 14px;
      }

    }
  }
}