

<md-toolbar class="toolbar-main">

  <div class="md-toolbar-tools">

    <span class="brand stripes" ng-click="vm.toggleLeft()">
      <svg height="32" width="30">
        <polygon points="30,0 10,32 0,32 20,0" style="fill:#2ab4a5;"/>
      </svg>
      <svg height="32" width="30">
        <polygon points="30,0 10,32 0,32 20,0" style="fill:#c30000"/>
      </svg>
      <svg height="32" width="30">
        <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffffff; stroke:#999999; stroke-width:1;"/>
      </svg>
    </span>

    <h2 class="brand-text" ng-click="vm.toggleLeft()">poppyGP</h2>

    <span flex></span>
    
    <md-button class="md-icon-button toggle-button" 
               aria-label="Show Schedule"
               ng-click="vm.toggleChat()">
      <md-icon class="material-icons"
               ng-show="!vm.isChatOpen">&#xE5C4;</md-icon>
      <md-icon class="material-icons"
               ng-show="vm.isChatOpen">&#xE5CD;</md-icon>
      <md-tooltip>Webchat</md-tooltip>
    </md-button>


  </div>

</md-toolbar>

