// Font-Awesome Toolbar Icons
// ------------------------------
md-toolbar md-icon.fa.material-fa {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.33333333em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  vertical-align: -7.5%;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Toolbar Small
// ------------------------------
md-toolbar {
  &.md-short {
    @include absolute-height($toolbar-short-height);
  }
  &.md-mini {
    @include absolute-height($toolbar-mini-height);
  }
  &.md-short,
  &.md-mini {
    .md-toolbar-tools {
      @include absolute-height($toolbar-tools-small-height);
      padding: 0 $toolbar-small-padding;
    }
    .md-indent {
      margin-left: $toolbar-small-indent-margin;
    }
  }
}

// Content Container
// ------------------------------
md-content {
  &.content-main {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: $background-color;
    overflow-y: hidden;
  }
}

// Sidenavs
// ------------------------------
md-sidenav {
  &.sidenav-main, 
  &.sidenav-chat {
    background-color: transparent;
    md-toolbar,
    md-content {
      background-color: transparent;
    }
  }
  &.sidenav-chat {
    @include absolute-width(33%);
    @media screen and (min-width: 1200px) {
      transition: $swift-ease-in-out;
      @include absolute-width(25%);
    }
    md-content {
      .webchat-frame {
        @include absolute-height(100%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 0 none;
      }
    }
  }

  // TODO: Fix Close Animation
  &.md-locked-open.md-closed-add-active,
  &.md-locked-open-remove-active.md-closed,
  &.md-locked-open-remove-active.md-closed-add-active {
    transition: $swift-ease-out;
  }
}

// Video Iframe
// ------------------------------
.video-frame-container {
  overflow-y: hidden;
  >.video-frame {
    >iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    /*
    @media screen and (max-width: 960px) {
      //@include iframe-responsive(75.00%);
      transition: $swift-ease-in-out;
    }
    @media screen and (min-width: 960px) {
      //@include iframe-responsive(66.67%);
      transition: $swift-ease-in-out;
    }
    @media screen and (min-width: 1200px) {
      //@include iframe-responsive(56.25%);
      transition: $swift-ease-in-out;
    }
    */
  }
  background-color: transparent;
}
