
// Responsive Iframe
// ------------------------------

@mixin iframe-responsive-container($ratio) {
  &::before {
    content: "";
    overflow-y: hidden;
    background-color: transparent;
  }
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: $ratio;
  >iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}


// Sizing
// ------------------------------

@mixin absolute-height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin absolute-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}
