
// Responsive Iframe
// ------------------------------

@mixin responsive-iframe($ratio) {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: $ratio;
}


// Sizing
// ------------------------------

@mixin absolute-height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin absolute-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}
